@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

// Font family
$base-font: 'Noto Sans JP', sans-serif;
$code-font: Menlo, Consolas;

$code_header-hgt: 30px;
$code_content-padding: 1.5em;
$code_line-num-width: 3em;