.c-code__container {
    position: relative;
    margin: 1.5em auto;
}

.c-code__title {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    background: #bdc7d1;
    color: #272727;
    border-radius: 10px 10px 0 0;
}

.c-code__source {
    font-size: 1.4rem;
    line-height: 1.4em;
    letter-spacing: 0;
    background: #2e3235;
    color: #fff;
    border-radius: 0 0 7px 7px;
    max-height: 400px;
    overflow: auto;
    padding: 1em;
}

code {
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    counter-reset: linenumber;
}

.hl-ln {
    counter-increment: linenumber;
}

.hl-ln::before {
    color: #bdbdbd;
    text-align: right;
    margin-right: 1.5em;
}

.hl-ln.l1::before {
    content: ' ' ' ' counter(linenumber) '.';
}

.hl-ln.l2::before {
    content: ' ' counter(linenumber) '.';
}

.hl-ln.l3::before {
    content: counter(linenumber) '.';
}

.hl-hide {
    position: relative;
    color: #e5e5e5;
    background: #e5e5e5;
    border: 1.5px solid #9e9e9e;
    font-size: .9em;
}

.hl-hide::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    color: #2e3235;
}

.hl-hide.q1::before {
    content: '(a)';
}

.hl-hide.q2::before {
    content: '(b)';
}

.hl-hide.q3::before {
    content: '(c)';
}


/* シンタックスハイライト */
.hl-str {
    color: #ec9751;
}

.hl-tn {
    color: #589bd8;
}

.hl-attr {
    color: #b0f9fe;
}

.hl-tag {
    color: #979797;
}

.hl-cm {
    color: #5ba751;
}



.wrapper {
    display: flex;
    width: 100%;
}

.item {
    flex: 1;
    margin: 10px 5px;
}

button {
    background: #e1e1e1;
    border: 1.5px #5e5e5e solid;
    display: block;
    padding: 0 1em;
}

#result {
    margin: 10px 5px;
    display: block;
    width: 100%;
    height: 3.5em;
    border: 1.5px #000 solid;
    border-radius: 10px;
    overflow: auto;
}